body {
    margin: 0;
    /* display: block; */
    width: 100%;
    height: 100%;
    background-color: #d4e8fd;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

/* 해더 */
header {
    display: flex;
    justify-content: space-around;
    height: 70px;
    /* background-color: bisque; */
    border-bottom: 1px solid #d4e8fd;
    margin-bottom: 10px;
}

.h_nav_bar {
    display: flex;
    width: 65%;
    height: 100%;
    /* background-color: blueviolet; */
}

/* 상단 좌측 */

.nav_bar_left {
    display: flex;
    float: left;
    width: 250px;
    height: 100%;
    /* background-color: aqua; */
}

.logo_box {
    cursor: pointer;
    position: relative;
    display: flex;
}

.logo_mark {
    /* display: flex; */
    /* float: left; */
    /* align-items: center; */
    /* height: 70px; */
    /* width: 70px; */
}

.head_lecture_category {
    display: flex;
    align-items: center;
    /* float: right; */
}

#dropdown-basic-button{
    color: #000;
    background: none;
    border: none;
}

/* 상단 우측 */
.nav_bar_right {
    display: flex;
    /* position: relative; */
    width: 290px;
    height: 100%;
    margin-left: 45.4%;
    /* backgroun : yellowgreen; */
}

.cart {
    display: flex;
    justify-content: center;
    width: 44px;
    height: 45px;
    padding: 20px;
    /* color: aqua; */
    /* border: 1px solid; */
}

.login_btn {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.login_btn a{
    
    text-align: center;
    color: #000;
    text-decoration: none;
}

.sign_up {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sign_up a{
    color: #000;
    text-decoration: none;
}


/* 검색 */
.search_container {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    margin-top: 50px;
    height: 123px;
    /* background-color: coral; */
}

.search_container_content {
    width: 65%;
    height: 100%;
    /* background-color: yellow; */
}

.search_container_content h3 {
    text-align: center;
}

.search_wrapper {
    /* 컬러 지우지 말것 */
    display: flex;
    margin: 0 25%;
    width: 50%;
    height: 54px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #2779cc;
}


.m_search_input {
    display: flex;
    align-items: center;
    width: 80%;
    border: none;
    outline: none;
    padding-left: 20px;
    background: none;
    font-size: 16px;
}

.m_search_input_submit {
    display: flex;
    margin-top: 13px;
    margin-left: 200px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}


/* 아이콘 목록 */
.lecture_icon_list {
    display: flex;
    justify-content: center;
    height: 141px;
    
}

.icon_list_wrapper {
    display: flex;
    justify-content: space-around;
    width: 65%;
    height: 100%;
    align-items: center;
    
}

.icon_list_wrapper a {
    display: block;
    color: #000;
    text-decoration: none;
    /* border: 1px solid; */
}


.icon_list_wrapper li {
    display: flex;
    justify-content: center;
    margin: 0 30px;
    /* border : 1px solid; */
    float: left;
}

.icon_list_card {
    width: 110px;
    height: 90px;
    
}

.course_icon {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;

    margin: 0 auto;
}

.img_title {
    text-align: center;
    width: auto;
    height: 24px;
    font-size: 14px;
}

/* 강의 목록 */

.course_dashboard {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 454px;
    position: relative;
    background-color: #d4e8fd;
}

.course_dashboard_list {
    display: block;
    position: relative;
    width: 65%;
    height: 100%;
    /* background: tomato; */
}

.course_dashboard_title {
    /* background-color: cadetblue; */
}

.course_dashboard_card{
    /* border: 1px solid; */
}

.course_card{
    background-color: #d4e8fd;
    /* border: 1px solid; */
}


.course_face {
    width: 80%;
    height: 140px;
    margin: 0 auto;
    border-radius: 5px;
}

.course_title {
    margin: 0 auto;
    padding: 0 5%;
    width: 80%;
    height: 25px;
    background-color: cadetblue;
}

.course_instructor {
    margin: 0 auto;
    padding: 0 5px;
    width: 80%;
    height: 25px;
    background-color: springgreen;
}

.course_rating {
    margin: 0 auto;
    padding: 0 5px;
    width: 80%;
    height: 25px;
    background-color: burlywood;
}

.course_price {
    margin: 0 auto;
    padding: 0 5px;
    width: 80%;
    height: 25px;
    background-color: violet;
}

.course_tag {
    margin: 0 auto;
    padding: 0 5px;
    width: 80%;
    height: 25px;
    background-color: slateblue;
}


/* 하단 */
footer {
    height: 200px;
    background-color: darkgrey;
}

footer ul{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

footer li{
    text-align: center;
}