body{
    margin: 0;
    /* display: block; */
    width: 100%;
    height: 4080px;
    background-color: aquamarine;
}

ul{
    list-style: none;
    margin:0;
    padding:0;

}

a{
    color: black;
    text-decoration: none;
}
/* 해더 */
header{
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: bisque;
}

.h_nav_bar{
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color: blueviolet;
}

.logohappy{
    display: flex;
    font-size: large;
}
.shappy{
    display:inline-block;
    margin: -15px 0px 0px 2px;
    padding: 1px,3px;
    /* color: #AAAAAA; */
    font-size: 11px;
    line-height: 12px;
    vertical-align: middle;
}
.luffy{
    padding-left: 20px;
    /* align-items: center; */
    height: 40px;
    width: 40px;
}

.head_lecture_category{
    display: flex;
    padding-left: 15px;
    align-items: center;
    float: left;
    width: 9%;
    height: 100%;
    background-color: darkgoldenrod ;
}

.head_lecture_category ul{
    display: none;
}


/* 상단 우측 */
.nav_bar_right{
    display: flex;
    /* position: relative; */
    width: 300px;
    height: 100%;
    margin-left: 60%;
    background: yellowgreen;
}

.cart{
    display: flex;
    justify-content: center;
    width: 44px;
    height: 45px;
    padding: 20px;
    color: aqua;
    border: 1px solid;
}

.login_btn{
    display: flex;
    justify-content: center;
    width: 68px;
    height: 45px;
    padding: 20px;
    color: aqua;
    border: 1px solid;
}

.sign_up{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 45px;
    padding: 20px;
    color: aqua;
    border: 1px solid;
}



/* 배너 */
.swipe_container{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 320px;
    background-color: cornflowerblue;
}

.swipe_main{
    width: 75%;
    height: 100%;
    background-color: cadetblue;
}

/* 검색 */
.search_container{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 173px;
    background-color: coral;
}

.search_container_content{
    width: 75%;
    height: 100%;
    background-color: yellow;
}

.search_container_content h1{
    text-align: center;
    /* display: block; */
}

.search_wrapper{
    display: flex;
    margin: 0 25%;
    width: 50%;
    height: 54px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: chocolate;
}

.m_search_input{
    display:flex;
    align-items: center;
    width: 49%;
    border: none;
    outline: none;
    padding-left: 20px;
    background:none;
    font-size: 20px;
}

.m_search_input_submit{
    display: flex;
    margin-top: 13px;
    margin-left: 200px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

/* 아이콘 목록 */
.lecture_icon_list{
    display: flex;
    justify-content: center;
    height: 141px;
    background: violet;
}

.icon_list_wrapper{
    display: flex;  
    width: 75%;
    height: 100%;
    align-items: center;
    background: brown;
}

.icon_list_wrapper a{
    display: block;
    
}


.icon_list_wrapper li{
    display: flex;
    justify-content: center;
    margin: 0 30px ;
    padding: 0 30px;
    border : 1px solid;
    float: left;
}

.icon_list_card{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.img-title{
    align-items: center;
}


.front_end_icon{
    display: block;
    padding-left: 20px;
    width: 34px;
    height: 34px;
}

.img_title{
    display: flex;
    height: 14px;
}

.img_title p{
    display: flex;
    padding-left: 5px;
    font-size: 14px;
}

/* 강의 목록 */

.course_dashboard{
    display: flex;
    justify-content: center;
    height: 454px;
    background-color: burlywood;
}

.course_dashboard_list{
    width: 75%;
    height: 100%;
    background: tomato;
}

.course_dashboard_list ul{
    
    width: 100%;
    height: 300px;
    background-color: azure;
}

.course_dashboard_list li{
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
    height: 90%;
    background-color: aqua;
}

.course_face{
    width: 100%;
    height: 140px;
}

.course_title{
    padding: 5px;
    width: 90%;
    height: 16px;
    background-color: cadetblue;
}

.course_instructor{
    padding: 5px;
    
    width: 90%;
    height: 14px;
    background-color: springgreen;
}

.course_rating{
    padding: 5px;
    
    width: 90%;
    height: 16px;
    background-color: burlywood;
}

.course_price{
    padding: 5px;
    
    width: 90%;
    height: 16px;
    background-color: violet;
}

.course_tag{
    padding: 5px;
    width: 90%;
    height: 16px;
    background-color: slateblue;
}



/* 하단 */
footer{
    height: 200px;
    background-color: darkgrey;
}